
  @media screen and (max-width: 400px)
{
    .hidden-sm {
        display: none !important;
      }
}
@media screen and (max-width: 939px)    
{
    .hidden-md {
        display: none !important;
      }
}
@media screen and (min-width: 940px)
{
    .hidden-lg {
        display: none !important;
      }
}